<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet" />-->
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="../css/howitworks.css" />
    <title>Fresh Harvest Box</title>
  </head>
  
  <body>
    <section class="section-class">
      <div class="container">
        <div class="first-part">
          <h2 class="header-title">
            To order your fruit basket, simply follow these easy steps
          </h2>
          <p class="flex-paragraph">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever leaving
            your home. Whether you're looking for a healthy snack or a thoughtful
            gift, our fruit baskets are the perfect choice.
          </p>
          <ul class="list-properties list-style">
            <li class="white-block block">
              <h3 class="pill-1">First Step</h3>
              <p class="paragraph-properties">
                Just choose the fruit you want to order by clicking on the checkboxes
                next to it.
              </p>
            </li>
            <li class="white-block block">
              <h3 class="pill-1 green">Second Step</h3>
              <p class="paragraph-properties">
                Click on the basket and fill out the form.
              </p>
            </li>
            <li class="white-block block">
              <h3 class="pill-1 yellow">Third Step</h3>
              <p class="paragraph-properties last-child">
                Sit back and relax! Your fresh fruit basket will be delivered.
              </p>
            </li>
          </ul>
        </div>
        <div class="div-gif">
          <img class="fruits-gif"
            src="https://s3-alpha-sig.figma.com/img/b08c/27c6/d1b10426e78244d4ff8987ecdcfb2d54?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=md~DxWXEncOr3UuZ48AeiEZVTscgIoqBe9q--d5Be6vRb7gqqeOS28NXB9BWVCTnMle86MiwZF70p9pDZwSI4PiOTnMw4mm7FyrylGYZLcJ2RgXYcDq4KtUQ-MP7zeh0QmiTVcyE16q92LZHFTfKZa22WpWVEBPDKbhKA2geh6gOU2lQvXlMXDIQm4krYDVezJr-De5hD1pRrCh84nZmmTpPJJTtiodBr6RDK6UN8V3-q1eF5uSZ3vlahvi-WjmMuCy6dN6rLDRY7gCAEqceJAJ3jQPB7rs5BQaB7QjB76naJ20RvhBoKF9t3nZNrTHa1VzAoJECpedTJenCXb01Rw__"
            alt="fruits gif slideshow" width="335" height="476" loading="lazy" />
        </div>
      </div>
    </section>
  </body>
</html>