<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order Modal</title>
    <link rel="stylesheet" href="../css/YourOrder.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
  <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <symbol id="icon-x-sign" viewBox="0 0 32 32">
    <path d="M32 3.223l-3.223-3.223-12.777 12.777-12.777-12.777-3.223 3.223 12.777 12.777-12.777 12.777 3.223 3.223 12.777-12.777 12.777 12.777 3.223-3.223-12.777-12.777 12.777-12.777z"></path>
    </symbol>
    </defs>
    </svg>
<div id="Modal" class="modal">
   
<div class="modal-btn-title">
<button type="button" class="modal-close-btn"><svg width="15px" height="15px"><use a href="../public/YourOrder.svg#icon-x-sign"></use></svg></button>
 <h2 class="your-order">YOUR ORDER</h2>
<div  class="modal-content">
    <label>
        <input class="modal-input" type="checkbox" name="fruits" value="strawberry">
        <h4 class="strawberry-title">Strawberry Basket</h4>
        <p class="p-modal">Plant</p>
        <img class="photo-strawberry" srcset="../img/koszyk-z-truskawkami.png 1x,
        ../img/koszyk-z-truskawkami@2.png 2x" src="../img/koszyk-z-truskawkami.png" alt="strawberries" width="88px" height="95px">
    </label></div>
    <div class="modal-content-dos">
    <label>
        <input class="modal-input-dos" type="checkbox" name="fruits" value="apples">
        <h4 class="apple-title">Apple Basket</h4>
        <p class="p-modal-dos">Plant</p>
        <img class="photo-apples" srcset="../img/skrzynka.png 1x,
        ../img/skrzynka@2.png 2x" src="../img/skrzynka.png" alt="apples" width="106px" height="95px">
    </label></div>
    <div class="modal-content-tres">
    <label>
        <input class="modal-input-tres" type="checkbox" name="fruits" value="fruits">
        <h4 class="fruits-title">Fruits Basket</h4>
        <p class="p-modal-tres">Plant</p>
        <img class="photo-fruits" srcset="../img/owoce.png 1x,
        ../img/owoce@2.png 2x" src="../img/owoce.png" alt="fruits" width="107px" height="95px">
    </label></div>
<div class="modal-form-uno">
  <form>
    <label class="label-modal">
        <input class="name" type="text" id="name" name="name" placeholder="Enter Full name.." required pattern="[A-Za-z\s]+" title="Name should only contain letters and spaces."/>
        <input class="email" type="text" id="email" name="email" placeholder="Enter email.."  required title="Please enter a valid email address."/>
        <input class="card" type="text" id="card" name="card" placeholder="Enter card.." required pattern="\d{10}" title="Card should contain only numbers."/>
        <input class="comment" type="text" id="comment" name="comment" placeholder="Enter comments.."/>
      </label></div>
<div class="btn-submit">
    <button class="btnsubmit"><a class="submit-modal" href="#">Submit</a></button>
</div>
</form>
</div>
</div>
</div>
</body>
</html>