ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.fruits-header {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding-bottom: 44px;
}

.fruits-paragraph {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
    max-width: 624px;
    text-align: center;
    margin: 0 auto;
    
}

.container {
    text-align: center;
    background-color: #AE1332;
    color: white;
    padding-bottom: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
}

p {
    margin: 0 20px 30px 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 32px;
    box-sizing: border-box;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex: 1 1 calc(33.333% - 24px);
    height: 465px;
    max-width: 389px;
    box-sizing: border-box;
    position: relative;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card h2,
.card p {
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    padding-left: 24px;
    text-align: left;
}

.card h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.04em;
    padding-top: 64px;
    margin: 0;
}

.card p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding-top: 7px;
    margin: 0;
}

.card img {
    width: 295px;
    height: 251px;
    margin: 24px auto;
    display: block;
}

.price {
    font-weight: bold;
    background-color: #ffffff;
    color: #b3304c;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 24px;
    /* Adjusted positioning */
}

.strawberry {
    background-color: #f8766b;
}

.banana {
    background-color: #edd251;
}

.watermelon {
    background-color: #9dc262;
}

.lime {
    background-color: #bfd663;
}

.apple {
    background-color: #e93f29;
}

.peach {
    background-color: #db4f4b;
}

.plums {
    background-color: #9b5366;
}

.orange {
    background-color: #f47f4c;
}

.kiwi {
    background-color: #98b37e;
}

/* Media queries */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 24px);
        max-width: 344px;
    }
}

@media (max-width: 375px) {
    .card {
        flex: 1 1 100%;
        max-width: 335px;
    }
}