* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 375px;
}

body{
  background-color: #AE1332;
}

/* STYLE HEADER SECTION */

header{
 background-color: white;
}

.div-header {
  width: 375px;
  height: 50px;
  display: flex;
}

.div-basket {
  display: none;
}

.ul-list {
  display: none;
}

.div-logo {
  margin: 16px 155px 0 20px;
}

.div-hamburger {
  margin: 13px 13px 0 0;
}

/* STYLE HERO SECTION */

.main_hero_header_part {
  position: relative;
}

.header_hero {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 56px 20px 0 20px;
  position: absolute;
  width: 335px;
  text-indent: 6px;
}

.main_hero_picture {
  padding: 12px;
  margin: 116px 32px 0 32px;
  border: 1px solid transparent;
  background: linear-gradient(#AE1332, #AE1332) padding-box,
              linear-gradient(to top, #FFFFFF, #AE1332, #AE1332) border-box;
  border-radius: 500px;
}

.hero_shop_now_button {
  position: absolute;
  background-color: #FFFFFF;
  color: #AE1332;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.04em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #FFFFFF;
  margin: -50px 147px 0 148px;
  transform: rotate(-14deg);
}

.blured_banana {
  position: absolute;
  z-index: -1;
  filter: blur(2px);
  transform: rotate(20deg) scaleX(-1);
  top: 116px;
  left: 13px;
  width: 66px;
  height: 44px;
}

.blured_strawberries {
  position: absolute;
  z-index: -1;
  filter: blur(2px);
  top: 56px;
  right: 20px;
  width: 56px;
  height: 56px;
}

.paragraph_hero {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04rem;
  line-height: 18px;
  text-align: left;
  color: white;
  margin: 44px 48px 0 48px;
  display: flex;
  flex-wrap: wrap;
}

.watermelon_section {
  border-radius: 500px;
  background-color: #A4CB66;
  border: none;
  width: 249px;
  height: 387px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 44px 63px 44px 63px;
}

.watermelon_section_header {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.04rem;
  text-align: center;
  color: white;
  margin-bottom: 66px;
}

.watermelon_picture {
  margin: 0 25px 2px 24px;
  position: relative;
}

.shadow_under_watermelon {
  position: absolute;
  top: 1075px;
  left: 68px;
}

.watermelon_section_paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.04rem;
  color: #FFFFFF;
  width: 155px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 47px 0 47px;
  text-transform: uppercase;
}

.navigation_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation_list_details {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04rem;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 1000px;
  padding: 12px 32px;
  width: 125px;
  height: 38px;
  margin: 0 8px 8px 0px;
  cursor: pointer;
}

.navigation_list_details:focus {
  background-color: #FFFFFF;
  color: #AE1332
}

.navigation_list_details:hover {
  background-color: #FFFFFF;
  color: #AE1332
}

.navigation_list_details:active {
  background-color: #FFFFFF;
  color: #AE1332
}

.strawberry_section {
  border-radius: 500px;
  background-color: #F5CE13;
  border: none;
  width: 249px;
  height: 387px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 36px 63px 80px 63px;
}

.strawberry_section_header {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.04rem;
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 19px;
}

.strawberries_picture {
  margin: 0 44px 2px 43px;
  position: relative;
}

.shadow_under_strawberries {
  position: absolute;
  top: 1625px;
  left: 73px;
}

.strawberry_section_paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.04rem;
  color: #FFFFFF;
  width: 163px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0px 44px 0 43px;
  text-transform: uppercase;
}

/* STYLE HOWITWORKS SECTION */

.header-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 14px 20px;
  width: 335px;
}

.flex-paragraph {
  width: 335px;
  margin: 0 auto 44px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: -0.04em;
  font-family: "DM Sans", sans-serif;
}

.list-properties {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.list-style {
  list-style: none;
}

.white-block {
  background-color: #FFFFFF;
  width: 335px;
  height: 112px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.pill-1 {
  width: 136px;
  height: 48px;
  background-color: #AE1332;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04rem;
  border-radius: 200px;
  text-align: center;
  padding: 12px 0;
  margin-right: 14px;
  margin-left: 12px;
  align-content: center;
}
.green {
  background-color: #A1C864;
}

.yellow {
  background-color: #F5CE13;
}

.paragraph-properties {
  width: 145px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04rem;
}

.div-gif {
  margin-bottom: 80px;
  padding-left: 20px;
}

.fruits-gif {
  width: 335px;
  height: 476px;
  display: flex;
  border-radius: 20px;
}

/* STYLE ORGANIC FOOD SECTION */

.fruit_container {
  width: 100%;
  background-color: #AE1332;
  padding-bottom: 20px;
}

.organic-fruit-header {
  text-align: center;
  padding-bottom: 14px;
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: -0.04em;
  margin-right: 82.5px;
  margin-left: 82.5px;
}

.organic-fruit-paragraph {
  text-align: center;
  padding-bottom: 44px;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 18px;
  letter-spacing: -0.04em;
  font-size: 0.88em;
  margin-right: 20px;
  margin-left: 20px;
}

.fruit-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
}

.fruit-card {
  width: 335px;
  height: 465px;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
  position: relative;
}

.fruit-card:nth-child(n+7) {
  display: none;
}

.fruit-card-header {
  color: #FFFFFF;
  margin: 64px 0 5px 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: -0.04em;
  font-size: 1.5em;
}

.plant {
  color: #FFFFFF;
  margin: 0 0 10px 24px;
  font-size: 0.9em;
}

.price-tag {
  background-color: #fff;
  color: #AE1332;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  font-size: 0.88em;
  position: absolute;
  bottom: 24px;
  left: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.strawberry {
  background-color: #F8766B;
}

.banana {
  background-color: #EDD251;
}

.watermelon {
  background-color: #9DC262;
}

.lime {
  background-color: #BFD663;
}

.apple {
  background-color: #E93F29;
}

.peach {
  background-color: #DB4F4B;
}

.plums {
  background-color: #9B5366;
}

.orange {
  background-color: #F47F4C;
}

.kiwi {
  background-color: #98B37E;
}

.order-btn {
  background-color: #9DC262;
  border-radius: 100%;
  height: 114px;
  width: 114px;
  border: none;
  margin-top: 32px;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 148px;
}

.order-rotate {
  display: inline-block;
  transform: rotate(-14deg);
  font-weight: 400;
  font-size: 18px;
}

.arrow {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 10px;
}

.order-btn:hover {
  background-color: #fff;
  color: #9DC262;
}

.order-btn:hover .arrow {
  fill: #9DC262;
}
/* STYLE FRESH BOX SEKCJA */

.contacts-flex {
  display: none;
}

.img-blueberry {
  display: none;
}

.img-melon {
  margin: 133px 20px 0 20px;
  padding-bottom: 80px;
}

.img-melon-desktop {
  display: none;
}

.section-fifth {
  position: relative;
  margin: 0 auto;
}

.contacts-heading {
  width: 335px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
  margin: 0;
  position: absolute;
  margin: 80px 20px 0 20px;
}

/* STYLE FOOTER SEGMENT */

.footer{
  background-color: white;
  width: 375px;
}

/* .div-footer{
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.div-logo-footer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.link-footer{
  text-decoration: none;
  color: rgba(174, 19, 50, 1);
  margin-right: 20px
}
.a:last-child{
  margin-right: 0;
}

.list-item-footer{
  display: inline-flex;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.ul-list-footer{
  margin: 24px 63px 44px 84px;
} */

.div-footer {
  margin-left: 20px;
  padding-top: 80px;
}

.div-logo-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list-item-footer {
  display: inline;
  margin-right: 20px;
  font-size: 14px;
}

.ul-list-footer {
  margin-left: 84px;
  margin-top: 24px;
}

.link-footer {
  color: rgba(174, 19, 50, 1);
  text-decoration: none;
}

.icons-footer {
  display: flex;
  gap: 20px;
  margin-top: 44px;
  margin-left: 108px;
}

.footer_icon{
  fill: transparent;
}

.icon-footer{
  border: 1px solid #AE1332;
  border-radius: 10px;
}

.div-address {
  margin-top: 44px;
  color: rgba(174, 19, 50, 1);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  margin-bottom: 14px;
  font-style: normal;
}

.address-list {
  color: rgba(174, 19, 50, 1);
  text-decoration: none;
}

/* STYLE MODAL -YOUR ORDER SECTION */
.modal-content {
  position: relative;
}

.container {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  max-height: 907px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffff;
  border-radius: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 69px;
  padding-bottom: 30px;
}

.modal-close-btn {
  position: absolute;
  top: 28px;
  right: 24px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  fill: #AE1332;
}

.your-order {
  position: absolute;
  top: 23px;
  bottom: 20px;
  left: 20px;
  color: #AE1332;
  font-family: 'DM Sans' sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -4%;
}

.comment-text {
  position: absolute;
  top: 77%;
  left: 9%;
  font-size: 14px;
  font-family: 'DM Sans' sans-serif;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
}

.modal-content {
  display: flex;
  background-color: #F8766B;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 20px;
  gap: 12px;
}

.modal-input {
  position: relative;
  left: 173%;
  top: 9%;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.strawberry-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}

.p-modal {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: 1%;
  left: 13%;
  color: #ffff;
}

.photo-strawberry {
  position: relative;
  left: 112%;
  bottom: 40%;
}

.modal-content-dos {
  display: flex;
  background-color: #EDD251;
  margin-top: 12px;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  margin-left: 20px;
  gap: 12px;
}

.modal-input-dos {
  position: relative;
  left: 240%;
  top: 9%;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.apple-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}

.p-modal-dos {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: 0.6%;
  left: 13%;
  color: #ffff;
}

.photo-apples {
  position: relative;
  left: 145%;
  bottom: 40%;
}

.modal-content-tres {
  display: flex;
  background-color: #9DC262;
  margin-top: 12px;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  margin-left: 20px;
  gap: 12px;
}

.modal-input-tres {
  position: relative;
  left: 244%;
  top: 9%;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.fruits-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}

.p-modal-tres {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: 0.7%;
  left: 13%;
  color: #ffff;
}

.photo-fruits {
  position: relative;
  left: 150%;
  bottom: 40%;
}

.label-modal {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 20px;
  gap: 14px;
}

.name {
  width: 277px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid grey;
  margin-right: 50px;
  padding-left: 20px;
}

.email {
  width: 277px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid grey;
  padding-left: 20px;
}

.card-modal {
  width: 277px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid grey;
  padding-left: 20px;
}

.comment {
  width: 277px;
  height: 43px;
  border-radius: 20px;
  height: calc(1.5em * 7);
  border: 1px solid grey;
  padding-left: 20px;
  padding-bottom: 120px;
}

.btnsubmit {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #fff;
  border-radius: 100px;
  width: 92px;
  height: 42px;
  background: #9DC162;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
}

.submit-modal {
  font-family: 'DM Sans' sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 5%;
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -4%;
}

.women-with-banana {
  display: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* STYLE MODAL - THANK YOU SECTION */
.modal-TY-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px;
  width: 335px;
  height: 426px;
  background: #e03f5e;
  font-family: 'DM Sans', sans-serif;
}

.modal-img {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.modal-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 0 14px 0;
}

.modal-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  width: 295px;
  margin: 0 auto;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none
}

.close-button-icon {
  fill: #ffffff;
}

/* STYLE MODAL - POPUP MENU SECTION */

.menu_popup_section {
  width: 375px;
  height: 812px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #AE1332;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fake_heder_popup {
  width: 375px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_close_btn {
  width: 24px;
  height: 24px;
  margin-left: 155px;
  border: none;
  background: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.close-button-icon{
  width: 12px;
  height: 12px;
}

.fake_main_popup {
  display: grid;
  justify-content: center;
  margin-top: 124px;
  gap: 22px;
}

.popup_menu_links {
  list-style-type: none;
  margin-bottom: 22px;
  display: grid;
  justify-content: center;
}

.link-header {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.div-basket{
  display: grid;
  justify-content: center;
}

.icon-basket{
  fill: white;
  width: 28px;
  height: 28px;

}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .menu_popup_section{
  display: none
  }

/* STYLE HEADER SECTION*/
  .div-list-footer {
    position: relative;
  }

  .ul-list {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin-left: 32px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.04rem;
  height: 18px;
}

.link-header {
  color: rgba(174, 19, 50, 1);
}

.div-logo {
  margin-bottom: 16px;
  margin-right: 226px;
  margin-left: 62px;
}

.div-basket {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 32px;
  display: flex;
}

.icon-basket{
  fill: #AE1332;
}

.div-hamburger {
  display: none;
}

/* STYLE HERO SECTION */

.header_hero {
  font-size: 50px;
  line-height: 54px;
  letter-spacing: -0.04rem;
  margin: 64px 32px 0 32px;
  width: 704px;
}

.blured_banana {
  transform: rotate(20deg) scaleX(-1) translateX(-50px) translateY(45px);
  width: 132px;
  height: 90px;
}

.blured_strawberries {
  transform: translateX(-5px) translateY(20px);
  width: 108px;
  height: 108px;

}

.main_hero_picture {
  width: 452px;
  height: 702px;
  padding: 17px;
  margin: 122px 158px 0 158px;
}

.hero_shop_now_button {
  font-size: 28px;
  line-height: 28px;
  width: 114px;
  height: 114px;
  border: 1px solid #FFFFFF;
  margin: -100px 327px 0 327px;
}

.paragraph_hero {
  width: 279px;
  height: auto;
  margin: 79px 457px 0 32px;
}

.watermelon_section {
  margin: 45px 142px 0px 64px;
}

.watermelon_section_header {
  margin-bottom: 40px;
}

.shadow_under_watermelon {
  top: 1300px;
  left: 69px;
}

.strawberry_section {
  position: absolute;
  z-index: 0;
  transform: translateX(455px) translateY(-538px);
  margin: 0
}

.shadow_under_strawberries {
  position: absolute;
  top: 215px;
  left: 10px;
}

.navigation_list_details {
  padding: 12px 32px;
  width: auto;
  height: 38px;
  margin: 0;
  position: absolute;
}

.detail_1 {
  top: 1374px;
  left: 450px;
  margin-right: 8px;
}

.detail_2 {
  top: 1374px;
  left: 583px;
  margin-left: 8px;
}

.detail_3 {
  top: 1420px;
  left: 483px;
  margin-right: 8px;
}

.detail_4 {
  top: 1420px;
  left: 606px;
  margin-left: 8px;
}

/* STYLE HOW IT WORKS SECTION */
.first-part {
  margin: 0 72px 80px 72px;
  padding-top: 137px;
}

.flex-paragraph {
  width: 509px;
}

.list-properties {
  justify-content: center;
}

.header-title {
  width: 624px;
}

.fruits-gif {
  width: 704px;
}

.div-gif{
  margin-bottom: 144px;
}

/* STYLE ORGANIC FRUIT SECTION */

.fruit-images {
  padding-left: 25px;
}

.organic-fruit-header {
  text-align: center;
  padding-bottom: 14px;
  font-size: 2.5em;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 44px;
  letter-spacing: -0.04em;
  margin-left: 75px;
  margin-right: 75px;
}

.organic-fruit-paragraph {
  text-align: center;
  padding-bottom: 44px;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 18px;
  letter-spacing: -0.04em;
  font-size: 0.88em;
  margin-right: 110.5px;
  margin-left: 110.5px;
}

.fruit-list {
  display: inline-block;
}

.fruit-card {
  display: inline-block;
  margin: 0 16px 16px 0;
}

.fruit-card:nth-child(n+7) {
  display: inline-block;
}

.fruit-card:last-child {
  display: none;
}

.fruits {
  margin-left: 32.5px;
  margin-right: 32.5px;
}

/* .fruit-card:nth-child(odd) {
  margin-left: 32px;
} */
.order-btn {
  margin-top: 44px;
  margin-left: 327px;
}

.price-tag {
  padding: 12px 21px;
  line-height: 24px;
  font-size: 1.13em;
}

/* STYLE FRESH BOX SECTION */

.contacts-heading {
  width: 648px;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -0.04em;
  margin: 50px 60px 0 60px;
}

.img-melon {
  width: 344px;
  height: 480px;
  padding-bottom: 0;
}

.img-melon-desktop {
  display: none;
}

.img-blueberry {
  display: inline-flex;
  width: 344px;
  height: 480px;
}

.flex-mel-blue {
  gap: 16px;
  margin-top: 80px;
}
  .contacts-flex {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 144px;
  }
    .input-wrapper {
    position: relative;
    display: inline-block;
  }
  .input-wrapper .send-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
    .contacts-email::placeholder {
      color: #fff;
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.04em;
      opacity: 0.5;
    }
  
    .contacts-paragraph {
      color: #fff;
      text-align: center;
      text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.04em;
      margin-top: 80px;
      margin-bottom: 0;
      width: 492px;
    }
  
    .send-btn {
      border-radius: 100px;
      border: 2px solid #9DC162;
      background-color: #9DC162;
      color: #fff;
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.04em;
      text-transform: capitalize;
      padding: 15px 35px;
    }
  
    .contacts-email {
      border: 1px solid #fff;
      border-radius: 100px;
      opacity: 0.3;
      background: transparent;
      padding-left: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 292px;
    }

/* STYLE FOOTER SECTION */

.footer {
  width: 768px;
  height: 475px;
  display: flex;
}

.footer_combo{
  display: grid;
}

.icons-footer {
  display: flex;
  margin-left: 171px;
}

.div-address {
  margin-left: 171px;
  font-size: 18px;
}

.div-one {
  margin-top: 118px;
}

.div-two {
  margin-top: 80px;
}

.p-div {
  align-items: flex-start;
}

.icons_address{
  margin-top: 118px;
}

/* STYLE MODAL YOUR ORDER SECTION */

.modal-btn-title {
  width: 891px;
  height: 880px;
  padding-bottom: 100px;
  background-position: 100% 100%;
}

.modal-content {
  width: 257px;
  height: 308px;
  top: -4%;
  margin-left: 40px;
}

.comment-text {
  top: 74%;
}

.your-order {
  margin-top: 20px;
}

.close-button {
  color: #AE1332;
}

.strawberry-title {
  font-size: 24px;
  margin-left: -5px;
}

.p-modal {
  font-size: 14px;
  top: 10%;
  margin-left: -5px;
}

.photo-strawberry {
  width: 173px;
  height: 196px;
}

.modal-content-dos {
  position: relative;
  width: 257px;
  height: 308px;
  top: -3%;
  left: 0.5%;
  margin-left: 317px;
}

.apple-title {
  font-size: 24px;
  margin-left: -5px;
}

.p-modal-dos {
  font-size: 14px;
  top: 10%;
  margin-left: -5px;
}

.photo-apples {
  width: 229px;
  height: 196px;
}

.modal-content-tres {
  position: relative;
  width: 257px;
  height: 308px;
  top: -2%;
  left: 1%;
  margin-left: 594px;
}

.fruits-title {
  font-size: 24px;
  margin-left: -5px;
}

.p-modal-tres {
  font-size: 14px;
  margin-left: -5px;
}

.photo-fruits {
  width: 229px;
  height: 196px;
}

.label-modal {
  margin-left: 45px;
  width: 420px;
}

.name:placeholder-shown {
  padding-left: 20px;
}

.card-modal:placeholder-shown {
  padding-left: 20px;
}

.email:placeholder-shown {
  padding-left: 20px;
}

.comment:placeholder-shown {
  padding-left: 20px;
}

.btnsubmit {
  margin-left: 46px;
  margin-top: 21px;
}

.modal-btn-title {
  width: 891px;
  height: 880px;
  padding-bottom: 100px;
  background-position: 100% 100%;
}

.container {
  min-width: 1280px;
}

.modal-content {
  width: 257px;
  height: 308px;
  top: -4%;
}

.comment-text {
  top: 74%;
}

.your-order {
  font-size: 40px;
  top: 2%;
}

.close-button {
  color: #AE1332;
}

.strawberry-title {
  font-size: 24px;
}

.p-modal {
  font-size: 14px;
  top: 10%;
}

.photo-strawberry {
  width: 173px;
  height: 196px;
}

.modal-content-dos {
  position: relative;
  width: 257px;
  height: 308px;
  top: -3%;
  left: 0.5%;
}

.p-modal-dos {
  font-size: 14px;
  top: 10%;
}

.photo-apples {
  width: 229px;
  height: 196px;
}

.modal-content-tres {
  position: relative;
  width: 257px;
  height: 308px;
  top: -2%;
  left: 1%;
}

.p-modal-tres {
  font-size: 14px;
}

.photo-fruits {
  width: 229px;
  height: 196px;
}

.label-modal {
  margin-left: 45px;
  width: 420px;
}

.modal-input {
  margin-left: 5px;
}

/* STYLE MODAL THANK YOU SECTION */
.modal-box {
  width: 600px;
  height: 545px;
}

.modal-header {
  font-size: 40px;
  line-height: 1.1;
}

.modal-paragraph {
  width: 391px;
  margin: 0 auto;
}
}

@media screen and (min-width: 1280px){
  .container{
    width: 1280px;
  }

  .menu_popup_section{
    display: none;
  }

/* STYLE HEADER SECTION */
.ul-list {
  gap: 20px;
}

.div-logo {
  margin-bottom: 16px;
  margin-right: 502px;
  margin-left: 300px;
}

.div-basket {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 32px;
}

/* STYLE HERO SECTION */
.header_hero {
  font-size: 64px;
  line-height: 64px;
  width: 898px;
  margin: 64px 191px 0 191px;
}

.blured_banana {
  transform: rotate(20deg) scaleX(-1) translateX(-250px) translateY(-10px);
  width: 183.21px;
  height: 124.61px;
  filter: blur(3px);
}

.blured_strawberries {
  transform: translateX(-180px) translateY(-10px);
  width: 120px;
  height: 120px;
  filter: blur(3px);
}

.main_hero_picture {
  margin: 122px 414px 0 414px;
  width: 452px;
  height: 702px;
}

.hero_shop_now_button {
  font-size: 28px;
  line-height: 28px;
  width: 114px;
  height: 114px;
  margin: -75px 583px 238px 583px;
}

.paragraph_hero {
  position: absolute;
  z-index: 0;
  width: 222px;
  height: 108px;
  transform: translateX(62px) translateY(-370px);
  margin: 0;
}

.watermelon_section {
  z-index: 0;
  transform: translateX(62px) translateY(-200px);
  margin: 0;
  position: absolute;
}

.shadow_under_watermelon {
  top: 225px;
  left: 10px;
}

.strawberry_section {
  position: absolute;
  z-index: 0;
  transform: translateX(900px) translateY(-538px);
}

.shadow_under_strawberries {
  top: 225px;
  left: 10px;
}

.navigation_list_details {
  padding: 12px 32px;
  width: auto;
  height: 38px;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.detail_1 {
  top: 820px;
  left: 952px;
  margin-right: 8px;
}

.detail_2 {
  top: 820px;
  left: 1085px;
  margin-left: 8px;
}

.detail_3 {
  top: 870px;
  left: 985px;
  margin-right: 8px;
}

.detail_4 {
  top: 870px;
  left: 1108px;
  margin-left: 8px;
}

/* STYLE HOW IT WORKS SECTION */
.header-title {
  width: 624px;
  margin: auto;
  padding-top: 273px;
}

.fruits-gif {
  width: 860px;
}

.flex-paragraph {
  width: 509px;
  padding: 14px;
}

.list-properties {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

.white-block {
  padding: 24px;
  margin: 24px;
}

.fruits-gif {
  margin: auto;
}

/* STYLE ORGANIC FRUIT SECTION */

.fruit-images {
  padding-left: 47.5px;
}

.organic-fruit-header {
  text-align: center;
  padding-bottom: 14px;
  font-size: 2.5em;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 44px;
  letter-spacing: -0.04em;
  margin-left: 296px;
  margin-right: 328px;
}

.organic-fruit-paragraph {
  text-align: center;
  padding-bottom: 44px;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 18px;
  letter-spacing: -0.04em;
  font-size: 0.88em;
  margin-right: 328px;
  margin-left: 328px;
}

.fruit-card-header {
  margin: 64px 0 0 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  font-size: 2em;
}

.plant {
  color: #FFFFFF;
  margin: 7px 0 0px 24px;
  font-size: 1.13em;
}

.fruit-list {
  display: inline-block;
}

.fruit-card {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
}

.fruit-card:nth-child(3n+1) {
  margin-left: 104.5px;
}

.fruit-card:nth-child(n+7) {
  display: inline-block;
}

.order-btn {
  margin-top: 44px;
  margin-left: 583px;
}

.price-tag {
  padding: 12px 17.5px;
  line-height: 24px;
  font-size: 1.13em;
}

/* STYLE FRESH BOX SECTION */
   .img-melon {
     /* width: 792px;
    height: 502px;
    padding-bottom: 0;
    margin: 0; */
     display: none;
   }

   .img-blueberry {
     /* display: inline-flex; */
     width: 400px;
     height: 502px;
   }

   .img-melon-desktop {
     display: block;
   }

   .flex-mel-blue {
     margin: 133px 20px 0 20px;
     display: flex;
     gap: 24px;
     justify-content: center;
   }

   .contacts-flex {
     display: flex;
     flex-direction: column;
     gap: 80px;
     align-items: center;
     justify-content: center;
     margin-bottom: 144px;
   }

   .input-wrapper {
     position: relative;
     display: inline-block;
   }

   .input-wrapper .send-btn {
     position: absolute;
     top: 0;
     right: 0;
     cursor: pointer;
   }

   .contacts-email::placeholder {
     color: #fff;
     font-family: 'DM Sans', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: -0.04em;
     opacity: 0.5;
   }

   .contacts-paragraph {
     color: #fff;
     text-align: center;
     text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
     font-family: 'DM Sans', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: -0.04em;
     margin-top: 80px;
     margin-bottom: 0;
     width: 492px;
   }

   .send-btn {
     border-radius: 100px;
     border: 2px solid #9DC162;
     background-color: #9DC162;
     color: #fff;
     font-family: 'DM Sans', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: -0.04em;
     text-transform: capitalize;
     padding: 15px 35px;
   }

   .contacts-email {
     border: 1px solid #fff;
     border-radius: 100px;
     opacity: 0.3;
     background: transparent;
     padding-left: 24px;
     padding-top: 15px;
     padding-bottom: 15px;
     width: 292px;
   }

   .contacts-heading {
     width: 740px;
     font-size: 64px;
     line-height: 64px;
     margin: -100px 270px 0 270px;
     /*
    margin: 0 270px 0 270px; */
   }

/* STYLE FOOTER SECTION */
.footer {
  width: 1280px;
  height: 377px;
  display: flex;
}

.footer_combo {
  display: flex;
}

.div-two {
  display: flex;
}

.div-list-footer {
  margin-left: 150px;
}

.div-one {
  margin-top: 80px;
  margin-bottom: 97px;
}

.ul-list-footer{
  margin-top: 164px;
}

.icons_address{
  margin-top: 80px;
}

/* STYLE MODAL YOUR ORDER SECTION */
.modal-btn-title {
  width: 704px;
  max-height: 1000px;
  background-image: url(../img/kobieta-banany.png);
  background-repeat: no-repeat;
  background-position: 175% 100%;
}

.modal-close-btn {
  top: 20px;
}

.your-order {
  top: 50px;
  left: 40px;
  font-size: 40px;
}

.modal-content {
  margin-top: 7%;
  width: 200px;
  height: 250px;
  margin-right: 40px;
  margin-left: 35px;
}

.strawberry-title {
  left: 13%;
  top: 8%;
  font-size: 18px;
}

.p-modal {
  top: 8%;
}

.modal-input {
  left: 108%;
  top: 6%;
  width: 20px;
  height: 20px;
}

.photo-strawberry {
  top: 11%;
  left: 20%;
  width: 133px;
  height: 148px;
}

.modal-content-dos {
  margin-left: 35%;
  margin-top: -35.3%;
  width: 200px;
  height: 250px;
}

.comment-text {
  top: 73%;
  left: 7.4%;
}

.apple-title {
  left: 13%;
  top: 8%;
  font-size: 18px;
}

.p-modal-dos {
  top: 8%;
}

.modal-input-dos {
  left: 96%;
  top: 6%;
  width: 20px;
  height: 20px;
}

.photo-apples {
  top: 9%;
  left: 7%;
  width: 172px;
  height: 148px;
}

.modal-content-tres {
  margin-left: 65%;
  margin-top: -35.3%;
  width: 200px;
  height: 250px;
}

.modal-input-tres {
  left: 97%;
  top: 6%;
  width: 20px;
  height: 20px;
}

.photo-fruits {
  top: 11%;
  left: 20px;
  width: 172px;
  height: 148px;
}

.p-modal-tres {
  top: 8%;
}

.fruits-title {
  left: 13%;
  top: 8%;
  font-size: 18px;
}

.label-modal {
  margin-left: 35px;
  margin-top: 2%;
  width: 230px;
}

.name {
  width: 360px;
}

.name:placeholder-shown {
  padding-left: 20px;
}

.card-modal {
  width: 360px;
}

.card-modal:placeholder-shown {
  padding-left: 20px;
}

.email {
  width: 360px;
}

.email:placeholder-shown {
  padding-left: 20px;
}

.comment {
  width: 360px;
}

.comment:placeholder-shown {
  padding-left: 20px;
}

.btnsubmit {
  margin-top: 20px;
  margin-left: 33px;
  width: 114px;
}
}