* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #AE1332;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

/* STYLE HEADER SECTION */

header {
  background-color: white;
}

.div-header {
  display: flex;
  align-items: center;
}

.div-basket {
  display: none;
}

.ul-list {
  display: none;
}

.div-hamburger {
  margin-left: 155px;
}

/* STYLE HERO SECTION */

.main_hero_header_part {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.header_hero {
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04rem;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  position: absolute;
  margin-top: 56px; 
  /* width: 335px; */
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.main_hero_picture {
  padding: 12px;
  /* margin: 116px 32px 0 32px; */
  border: 1px solid transparent;
  background: linear-gradient(#AE1332, #AE1332) padding-box,
              linear-gradient(to top, #FFFFFF, #AE1332, #AE1332) border-box;
  border-radius: 500px;
  margin-top: 116px;
}

.container_border_image_hero{
  display: flex;
  justify-content: center;
}

.hero_shop_now_button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.04em;
  background-color: #FFFFFF;
  color: #AE1332;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #FFFFFF;
  transform: rotate(-14deg);
  margin: -50px 147px 0 148px;
  position: relative;
}

.blured_banana{
  position: absolute;
  z-index: 0;
  filter: blur(2px);
  transform: rotate(20deg) scaleX(-1);
  top: 116px;
  left: 28.05px;
  width: 66px;
  height: 44px;
}

.blured_strawberries {
  position: absolute;
  z-index: 0;
  filter: blur(2px);
  top: 56px;
  left: 299px;
  width: 56px;
  height: 56px;
}

.combined_section{
  display: grid;
  justify-items: center;
}

.combined_section_part2{
  display: grid;
  justify-items: center;
}

.paragraph_hero{
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04rem;
  line-height: 18px;
  color: white;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  margin-top: 44px;
}

.watermelon_section {
  border-radius: 500px;
  background-color: #A4CB66;
  border: none;
  width: 249px;
  height: 387px;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 44px 0 44px 0;
  align-content: center
}

.watermelon_section_header{
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04rem;
  color: white;
  margin-bottom: 66px;
}

.watermelon_section_paragraph{
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04rem;
  color: #FFFFFF;
  width: 155px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
}

.navigation_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation_list_details {
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04rem;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 1000px;
  padding: 12px 32px;
  width: 125px;
  height: 38px;
  display: flex;
  margin: 0 8px 8px 0px;
}

.navigation_list_details:focus {
  background-color: #FFFFFF;
  color: #AE1332
}

.navigation_list_details:hover {
  background-color: #FFFFFF;
  color: #AE1332
}

.navigation_list_details:active {
  background-color: #FFFFFF;
  color: #AE1332
}

.strawberry_section {
  border-radius: 500px;
  background-color: #F5CE13;
  border: none;
  width: 249px;
  height: 387px;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 44px 0 80px 0;
  align-content: center
}

.strawberry_section_header {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04rem;
  text-align: center;
  color: white;
  margin-bottom: 19px;
}

.strawberry_section_paragraph {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04rem;
  color: #FFFFFF;
  width: 163px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
}

/* STYLE HOWITWORKS SECTION */


.first-part{
  display: grid;
}

.header-title{
  font-family: inherit;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 335px;
  justify-content: center;
}

.flex-paragraph{
  font-family: inherit;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: -0.04em;
  width: 335px;
  margin: 14px 0 44px 0;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1)
}

.list-style {
  list-style: none;
}

.list-properties {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  width: 389px;
}

.white-block {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 335px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

.pill-1{
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04rem;
  width: 136px;
  height: 48px;
  background-color: #AE1332;
  color: #FFFFFF;
  border-radius: 200px;
  text-align: center;
  padding: 12px 0;
  margin-right: 14px;
  margin-left: 12px;
  align-content: center;
}

.green {
  background-color: #A1C864;
}

.yellow {
  background-color: #F5CE13;
}

.paragraph-properties {
  width: 145px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04rem;
}

.div-gif{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.fruits-gif{
  border-radius: 20px;
}

/* STYLE ORGANIC FRUIT SECTION */

.fruit_container{
  display: grid;
  justify-items: center;
}

.organic-fruit-header{
  font-family: inherit;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.organic-fruit-paragraph{
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  width: 334px;
  margin-bottom: 44px;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1)
}

.fruit-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.fruit-card{
  width: 335px;
  height: 465px;
  text-align: left;
  border-radius: 15px;
}

.fruit-card:nth-child(n+7) {
  display: none;
}

.fruit-card-header {
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  font-size: 24px;
}

.plant {
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  font-size: 14px;
  margin-top: 8px;
}

.price-tag{
  background-color: #fff;
  color: #AE1332;
  border-radius: 25px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 126px;
  padding: 12px 24px;
}

.strawberry {
  background-color: #F8766B;
}

.banana {
  background-color: #EDD251;
}

.watermelon {
  background-color: #9DC262;
}

.lime {
  background-color: #BFD663;
}

.apple {
  background-color: #E93F29;
}

.peach {
  background-color: #DB4F4B;
}

.plums {
  background-color: #9B5366;
}

.orange {
  background-color: #F47F4C;
}

.kiwi {
  background-color: #98B37E;
}

.fruit-card-down{
  padding: 64px 20px 24px 20px;
}

.order-btn{
  background-color: #9DC262;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  border: none;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 44px;
  margin-bottom: 133px;
  cursor: pointer;
}

.order-rotate {
  display: inline-block;
  transform: rotate(-14deg);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04rem;
  align-content: center;
}

.arrow {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 10px;
}

/* STYLE FRESH BOX SEKCJA */

.blub-mel-container{
  display: grid;
  justify-items: center;
}

.contacts-flex {
  display: none;
}

.img-blueberry {
  display: none;
}

.img-melon-desktop {
  display: none;
}

.img-melon{
  padding-bottom: 80px;
}

.section-fifth {
  position: relative;
}

.contacts-heading {
  width: 335px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  position: absolute;
  top: -55px;
  letter-spacing: -0.04rem;
}

/* STYLE FOOTER SEGMENT */

.footer {
  background-color: #FFFFFF;
}

.footer_part{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.div-footer{
  padding-top: 80px;
  margin-bottom: 20px;
}

.imageandlogo{
  display: grid;
  justify-items: center;
}

.footer_combo{
  display: grid;
  justify-items: center;
}

.link-footer {
  text-decoration: none;
  color: rgba(174, 19, 50, 1);
}

.list-item-footer{
  list-style: none;
}

.ul-list-footer{
  display: flex;
  margin-top: 24px;
  margin-bottom: 44px;
  gap: 20px;
}

.icons_address{
  display: grid;
  justify-items: center;
}

.icons-footer{
  display: flex;
  gap: 20px;
  margin-bottom: 44px;
}

.footer_icon {
  fill: transparent;
}

.icon-footer {
  border: 1px solid #AE1332;
  border-radius: 10px;
}

.address-list {
  color: rgba(174, 19, 50, 1);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.address_section{
  color: #AE1332;
  display: grid;
  justify-items: center;
  margin-top: 14px;
  padding-bottom: 80px;
}

/* STYLE MODAL -YOUR ORDER SECTION */

.modal-content {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.modal-btn-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  max-height: 907px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffff;
  border-radius: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 69px;
  padding-bottom: 30px;
}

.modal-close-btn {
  position: absolute;
  top: 28px;
  right: 24px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  fill: #AE1332;
}

.your-order {
  position: absolute;
  top: 23px;
  bottom: 20px;
  left: 20px;
  color: #AE1332;
  font-family: 'DM Sans' sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -4%;
}

.comment-text {
  position: absolute;
  top: 77%;
  left: 9%;
  font-size: 14px;
  font-family: 'DM Sans' sans-serif;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
}

.modal-content {
  display: flex;
  background-color: #F8766B;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 20px;
  gap: 12px;
}

.modal-input {
  position: relative;
  left: 173%;
  top: 9%;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.strawberry-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}
.strawberry-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}

.p-modal {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: 1%;
  left: 13%;
  color: #ffff;
}

.photo-strawberry {
  position: relative;
  left: 112%;
  bottom: 40%;
}

.modal-content-dos {
  display: flex;
  background-color: #EDD251;
  margin-top: 12px;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  margin-left: 20px;
  gap: 12px;
}

.modal-input-dos {
  position: relative;
  left: 240%;
  top: 9%;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.apple-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}

.p-modal-dos {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: 0.6%;
  left: 13%;
  color: #ffff;
}

.photo-apples {
  position: relative;
  left: 145%;
  bottom: 40%;
}

.modal-content-tres {
  display: flex;
  background-color: #9DC262;
  margin-top: 12px;
  width: 295px;
  height: 119px;
  border-radius: 20px;
  margin-left: 20px;
  gap: 12px;
}

.modal-input-tres {
  position: relative;
  left: 244%;
  top: 9%;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.fruits-title {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: -1%;
  left: 13%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -4%;
  color: #ffff;
  margin-bottom: 5px;
}

.p-modal-tres {
  font-family: 'DM Sans' sans-serif;
  position: relative;
  bottom: 0.7%;
  left: 13%;
  color: #ffff;
}

.photo-fruits {
  position: relative;
  left: 150%;
  bottom: 40%;
}

.label-modal {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 20px;
  gap: 14px;
}

.name {
  width: 277px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid grey;
  margin-right: 50px;
  padding-left: 20px;
}

.email {
  width: 277px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid grey;
  padding-left: 20px;
}

.card-modal {
  width: 277px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid grey;
  padding-left: 20px;
}

.comment {
  width: 277px;
  height: 43px;
  border-radius: 20px;
  height: calc(1.5em * 7);
  border: 1px solid grey;
  padding-left: 20px;
  padding-bottom: 120px;
}

.btnsubmit {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #fff;
  border-radius: 100px;
  width: 92px;
  height: 42px;
  background: #9DC162;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
}

.submit-modal {
  font-family: 'DM Sans' sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 5%;
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -4%;
}

.women-with-banana {
  display: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* STYLE MODAL - THANK YOU SECTION */
.modal-TY-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px;
  width: 335px;
  height: 426px;
  background: #e03f5e;
  font-family: 'DM Sans', sans-serif;
}

.modal-img {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.modal-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 0 14px 0;
}

.modal-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  width: 295px;
  margin: 0 auto;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.close-button-icon {
  fill: #FFFFFF 
}

/* STYLE MODAL - POPUP MENU SECTION */
.menu_popup_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #AE1332;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
}

.fake_heder_popup {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-items: center;
  padding: 16px 0 16px 0;
}

.popup_close_btn {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  margin-left: 155px;
}

.close-button-icon {
  width: 12px;
  height: 12px;
}

.fake_main_popup {
  display: grid;
  justify-content: center;
  margin-top: 124px;
  gap: 22px;
  padding-bottom: 508px;
}

.popup_menu_links {
  list-style-type: none;
  margin-bottom: 22px;
  display: grid;
  justify-content: center;
}

.link-header {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.div-basket {
  display: grid;
  justify-content: center;
}

.icon-basket {
  fill: white;
  width: 28px;
  height: 28px;

}

@media screen and (min-width: 768px){
  .container {
    width: 768px;
  }
  .menu_popup_section{
  display: none
  }

/* STYLE HEADER SECTION*/

  .ul-list{
    display: flex  ;
    list-style-type: none;
    font-family:inherit;
    font-weight: 400;
    letter-spacing: -0.04rem;
    font-size: 14px;
    line-height: 18px;
    gap: 16px;
  }

  .link-header{
  color: #AE1332;
  }

  .div-hamburger {
    display: none;
  }
  
  .div-basket {
    display: flex;
  }

  .icon-basket{
    fill: #AE1332;
  }

  .div-header{
    justify-content: center;
  }

  .div-logo{
    margin: 0 226px 0 94px;
  }

  /* STYLE HERO SECTION */

  .header_hero {
    font-size: 50px;
    line-height: 54px;
    letter-spacing: -0.04rem
  }
  
  .main_hero_picture{
    width: 452px;
    height: 702px;
  }

  .blured_banana {
  transform: rotate(20deg) scaleX(-1) translateX(-50px) translateY(45px);
  width: 132px;
  height: 90px;
}

.blured_strawberries {
  transform: translateX(299px) translateY(20px);
  width: 108px;
  height: 108px;
}

.hero_shop_now_button {
  font-size: 28px;
  line-height: 28px;
  width: 114px;
  height: 114px;
  margin: -70px 327px 0 327px;
}

.combined_section {
  display: flex;
  column-gap: 144px;
}

.combined_section_part1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-left: 32px;
 }

.combined_section_part2{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 0;
}

.navigation_list_details {
  margin: 0;
  display: grid;

}

.detail_1{
  margin: 0 8px 8px -15px;
}

.detail_3 {
  margin: 0 8px 8px 15px;
}

/* STYLE HOW IT WORKS SECTION */
.first-part{
  justify-items: center;
}

.list-properties{
  justify-content: center;
}

.header-title{
  width: 624px;
  margin-top: 137px;
}

.flex-paragraph{
  width: 509px;
}

.fruits-gif {
  width: 704px;
}

.div-gif{
  margin-bottom: 144px;
}

/* STYLE ORGANIC FRUIT SECTION */


.organic-fruit-paragraph{
  width: 547px;
}

.fruit-list {
  display: inline-block;
}

.fruit-card {
  display: inline-block;
  margin: 0 16px 16px 0;
}

.fruit-card:nth-child(n+7) {
  display: inline-block;
}

.fruit-card:last-child {
  display: none;
}

.fruit-list{
  padding-left: 20px;
}

/* STYLE FRESH BOX SECTION */
.contacts-heading {
  width: 648px;
  font-size: 54px;
  line-height: 54px;
  top: -5px
}

.img-melon {
  width: 344px;
  height: 480px;
  padding-bottom: 0;
}

.img-melon-desktop {
  display: none;
}

.img-blueberry {
  display: inline-flex;
  width: 344px;
  height: 480px;
}

.flex-mel-blue {
  gap: 16px;
  margin-top: 80px;
}
.contacts-flex {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 144px;
}

 .input-wrapper {
   position: relative;
   display: inline-block;
 }

 .input-wrapper .send-btn {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
 }

 .contacts-email::placeholder {
   color: #fff;
   font-family: "DM Sans", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: -0.04em;
   opacity: 0.5;
 }

 .contacts-paragraph {
   color: #fff;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
   font-family: "DM Sans", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: -0.04em;
   margin-top: 80px;
   margin-bottom: 0;
   width: 492px;
 }

 .send-btn {
   border-radius: 100px;
   border: 2px solid #9DC162;
   background-color: #9DC162;
   color: #fff;
   font-family: "DM Sans", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: -0.04em;
   text-transform: capitalize;
   padding: 15px 35px;
 }

 .contacts-email {
   border: 1px solid #fff;
   border-radius: 100px;
   opacity: 0.3;
   background: transparent;
   padding-left: 24px;
   padding-top: 15px;
   padding-bottom: 15px;
   width: 292px;
 }

 /* STYLE FOOTER SECTION */

.footer_part{
  display: flex;
  justify-items: center;
  align-items: start;
  padding-top: 80px;
}

.footer_combo{
  margin-right: 171px;
}

.div-footer{
  padding: 0;
}

.ul-list-footer{
  margin: 80px 0 80px 0;
}

.address_section{
  justify-items:left;
  padding-bottom: 0;
}

.icons_address{
  padding-top: 38px;
}

/* STYLE MODAL YOUR ORDER SECTION */
.modal-btn-title {
  width: 704px;
  max-height: 1000px;
  background-image: url(../img/kobieta-banany.png);
  background-repeat: no-repeat;
  background-position: 175% 100%;
}

.modal-close-btn {
  top: 20px;
}

.your-order {
  top: 50px;
  left: 40px;
  font-size: 40px;
}

.modal-content {
  margin-top: 7%;
  width: 200px;
  height: 250px;
  margin-right: 40px;
  margin-left: 35px;
}

.strawberry-title {
  left: 13%;
  top: 8%;
  font-size: 18px;
}

.p-modal {
  top: 8%;
}

.modal-input {
  left: 108%;
  top: 6%;
  width: 20px;
  height: 20px;
}

.photo-strawberry {
  top: 11%;
  left: 20%;
  width: 133px;
  height: 148px;
}

.modal-content-dos {
  margin-left: 35%;
  margin-top: -35.3%;
  width: 200px;
  height: 250px;
}

.comment-text {
  top: 73%;
  left: 7.4%;
}

.apple-title {
  left: 13%;
  top: 8%;
  font-size: 18px;
}

.p-modal-dos {
  top: 8%;
}

.modal-input-dos {
  left: 96%;
  top: 6%;
  width: 20px;
  height: 20px;
}

.photo-apples {
  top: 9%;
  left: 7%;
  width: 172px;
  height: 148px;
}

.modal-content-tres {
  margin-left: 65%;
  margin-top: -35.3%;
  width: 200px;
  height: 250px;
}

.modal-input-tres {
  left: 97%;
  top: 6%;
  width: 20px;
  height: 20px;
}

.photo-fruits {
  top: 11%;
  left: 20px;
  width: 172px;
  height: 148px;
}

.p-modal-tres {
  top: 8%;
}

.fruits-title {
  left: 13%;
  top: 8%;
  font-size: 18px;
}

.label-modal {
  margin-left: 35px;
  margin-top: 2%;
  width: 230px;
}

.name {
  width: 360px;
}

.name:placeholder-shown {
  padding-left: 20px;
}

.card-modal {
  width: 360px;
}

.card-modal:placeholder-shown {
  padding-left: 20px;
}

.email {
  width: 360px;
}

.email:placeholder-shown {
  padding-left: 20px;
}

.comment {
  width: 360px;
}

.comment:placeholder-shown {
  padding-left: 20px;
}

.btnsubmit {
  margin-top: 20px;
  margin-left: 33px;
  width: 114px;
}

/* STYLE MODAL THANK YOU SECTION */
.modal-box {
  width: 600px;
  height: 545px;
}

.modal-header {
  font-size: 40px;
  line-height: 1.1;
}

.modal-paragraph {
  width: 391px;
  margin: 0 auto;
}
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .menu_popup_section {
    display: none;
  }

/* STYLE HEADER SECTION */
  .div-logo {
    margin: 0 502px 0 322px;
  }

/* STYLE HERO SECTION */
  .header_hero {
   font-size: 64px;
   line-height: 64px;
    width: 898px;
  }

.blured_banana {
  transform: rotate(20deg) scaleX(-1) translateX(-180px) translateY(-10px);
  width: 183.21px;
  height: 124.61px;
  filter: blur(3px);
}

.blured_strawberries {
  transform: translateX(700px) translateY(-10px);
  width: 120px;
  height: 120px;
  filter: blur(3px);
}
.main_hero_picture {
  margin: 122px 414px 0 414px;
  width: 452px;
  height: 702px;
}

.combined_section_part1{
  display: block;
  position: absolute;
  top: 855px;
}

.hero_shop_now_button {
  font-size: 28px;
  line-height: 28px;
  width: 114px;
  height: 114px;
  margin: -75px 583px 238px 583px;
}

.paragraph_hero {
  position: absolute;
  z-index: 0;
  width: 222px;
  height: 108px;
  transform: translateX(62px) translateY(-370px);
  margin: 0;
}

.watermelon_section {
  z-index: 0;
  transform: translateX(62px) translateY(-200px);
  margin: 0;
  position: absolute;
}


.strawberry_section {
  position: absolute;
  z-index: 0;
  transform: translateX(900px) translateY(-538px);
  margin-bottom: 0;

}

.navigation_list{
  display: flex;
  margin: 0;
  width: 300px;
  position: absolute;
  transform: translateX(900px) translateY(-238px);
}

/* STYLE HOW IT WORKS SECTION */
.header-title {
  width: 624px;
  margin-top: 0;
}

.fruits-gif {
  width: 860px;
}

.list-properties {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.white-block{
  width: 389px;
}

/* STYLE ORGANIC FRUIT SECTION */
.organic-fruit-header {
  font-size: 2.5em;
  line-height: 44px;
  letter-spacing: -0.04em;
}

.organic-fruit-paragraph {
  line-height: 18px;
  letter-spacing: -0.04em;
  font-size: 0.88em;

}

.fruit-card-header {
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  font-size: 2em;
}

.plant {
  font-size: 1.13em;
}

.fruit-list {
  display: inline-block;
}

.fruit-card {
  display: inline-block;

}

.fruit-card:nth-child(3n+1) {
  margin-left: 104.5px;
}

.fruit-card:nth-child(n+7) {
  display: inline-block;
}

.price-tag {
  line-height: 24px;
  font-size: 18px;
  width: 136px;
  padding: 12px 17.5px;
}

/* STYLE FRESH BOX SECTION */
.img-melon {
   display: none;
}
 .img-blueberry {
   width: 400px;
   height: 502px;
}
 .img-melon-desktop {
   display: block;
 }

 .flex-mel-blue {
   display: flex;
   gap: 24px;
   justify-content: center;
 }

/* STYLE FOOTER SECTION */
.footer_combo {
  display: flex;
  margin: 0;
}
.div-list-footer{
  margin: 0 232px 0 243px;
}

.div-address{
  justify-content: left;
}

.imageandlogo{
  padding-bottom: 80px;
}

/* STYLE MODAL YOUR ORDER SECTION */
.modal-btn-title {
  width: 891px;
  height: 880px;
  padding-bottom: 100px;
  background-position: 100% 100%;
}

.modal-content {
  width: 257px;
  height: 308px;
  top: -4%;
  margin-left: 40px;
}

.comment-text {
  top: 74%;
}

.your-order {
  margin-top: 20px;
}

.close-button {
  color: #AE1332;
}

.strawberry-title {
  font-size: 24px;
  margin-left: -5px;
}

.p-modal {
  font-size: 14px;
  top: 10%;
  margin-left: -5px;
}

.photo-strawberry {
  width: 173px;
  height: 196px;
}

.modal-content-dos {
  position: relative;
  width: 257px;
  height: 308px;
  top: -3%;
  left: 0.5%;
  margin-left: 317px;
}

.apple-title {
  font-size: 24px;
  margin-left: -5px;
}

.p-modal-dos {
  font-size: 14px;
  top: 10%;
  margin-left: -5px;
}

.photo-apples {
  width: 229px;
  height: 196px;
}

.modal-content-tres {
  position: relative;
  width: 257px;
  height: 308px;
  top: -2%;
  left: 1%;
  margin-left: 594px;
}

.fruits-title {
  font-size: 24px;
  margin-left: -5px;
}

.p-modal-tres {
  font-size: 14px;
  margin-left: -5px;
}

.photo-fruits {
  width: 229px;
  height: 196px;
}

.label-modal {
  margin-left: 45px;
  width: 420px;
}

.name:placeholder-shown {
  padding-left: 20px;
}

.card-modal:placeholder-shown {
  padding-left: 20px;
}

.email:placeholder-shown {
  padding-left: 20px;
}

.comment:placeholder-shown {
  padding-left: 20px;
}

.btnsubmit {
  margin-left: 46px;
  margin-top: 21px;
}
}