/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*------------------------*/

/*------------------YourOrder------------------*/

/*----------------------*/
  .modal-content{
    position: relative;
  }
  .container {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    padding: 0 15px;
}
.modal-close-btn{
position: relative;
left:90%;
align-items: center;
justify-content: center;
background-color: #FFFFFF;
border: none;
color:#AE1332;
font-size: 24px;
width: 30px;
height: 24px;
}
  .your-order{
    position: relative;
    left:3%;
    top:%;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -4%;
    color:#AE1332
  }
