.modal-content{
    position: relative;
  }
  .container {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    padding: 0 15px;
}
.modal-close-btn{
position: relative;
left:90%;
align-items: center;
justify-content: center;
background-color: #FFFFFF;
border: none;
color:#AE1332;
font-size: 24px;
width: 30px;
height: 24px;
}
  .your-order{
    position: relative;
    left:3%;
    top:%;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -4%;
    color:#AE1332
  }